.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 90% !important;
}

@media (min-width: 768px) {
  .container {
    width: 55% !important;
  }

  @media (min-width: 992px) {
    .container {
      width: 45% !important;
    }

    @media (min-width: 1400px) {
      .container {
        width: 30% !important;
      }
    }
  }
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex; 
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.colored-background {
  background-color: #c0c0c0;
}

input[type="file"] {
  color: #ffffff;
  background-color: #575757;
  padding: 5px;
  border-radius: 5px;
}

input[type="file"]::-webkit-file-upload-button {
  margin-bottom: 1px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

input[type="file"]::-webkit-file-upload-button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}