.text-primary {
  color: #191919 !important;
}

.text-white {
  color: #ffffff !important;
}

.rounded {
  border: none !important;
}

.bg-primary {
  background-color: #191919 !important;
}

.btn {
  transition: none !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #000000 !important;
}

.btn-primary:hover {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #000000 !important;
}

.form-control:focus {
  border-color: #000000 !important;
  box-shadow: none !important;
}

.form-check-input:focus,
.form-select:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary:active,
.btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

input[type="file"] {
  color: #191919 !important;
  background-color: #ffffff !important;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #191919;
  border: 1px;
  border-color: #000000;
  border-radius: 0.25rem;
  color: #ffffff;
  margin: 1px;
}

.style-dotted {
  border-color: #000000 !important;
  background: #000000 !important;
}

.colored-background {
  background-color: #191919 !important;
}

.progress-bar {
  background-color: #191919;
}

.terms-and-conditions {
  color: #191919 !important;
}
