.text-primary {
  color: #000000 !important;
}

.text-white {
  color: #ffffff !important;
}

.rounded {
  border: 4px dotted #242222 !important;
}

.bg-primary {
  background-color: #242222 !important;
}

.border-primary {
  border-color: #242222 !important;
}

.btn {
  transition: none !important;
}

.btn-primary {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #b4b4b4 !important;
}

.btn-primary:hover {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #000000 !important;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23222221'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.form-control:focus {
  border-color: #1a1919 !important;
  box-shadow: 0 0 0 0.25rem #f6f4f2 !important;
}

.form-check-input:focus,
.form-select:focus {
  border-color: #222221 !important;
  box-shadow: 0 0 0 0.25rem #f6f4f2 !important;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary:active,
.btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #242222 !important;
  border-color: #242222 !important;
}

input[type="file"] {
  color: #000000 !important;
  background-color: #f6f4f2 !important;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #222221;
  border: 1px;
  border-color: #222221;
  border-radius: 0.25rem;
  color: #ffffff;
  margin: 1px;
}

.style-dotted {
  border-color: #000000 !important;
  background: #000000 !important;
}

.colored-background {
  background-color: #f6f4f2 !important;
}

.progress-bar {
  background-color: #222221;
}

.terms-and-conditions {
  color: #222221 !important;
}
